.hero {
    margin: 33px auto;
    background-image: url(../images/orqafon1x.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1440px;
    height: 650px;

    &__title {
        height: 112px;
        width: 500px;
        font-family: Space Mono;
        font-size: 56px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -2.5px;
        text-align: left;
        color: white;
        padding-top: 153px;
    }

    &__texts__img {
        display: flex;
        margin-top: 40px;

        &__text {
            height: 100px;
            width: 405px;
            font-family: "Space Mono", monospace;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0px;
            text-align: left;
            color: white;
            padding-top: 110px;
            padding-left: 50px;
        }

        &__card__img {
            margin-top: 69px;
        }
    }

    &__texts__img img:nth-child(1) {
        margin-left: -165px;
        margin-top: 160px;
    }

    &__button {
        height: 53px;
        width: 180px;
        text-decoration: none;
        color: white;
        padding: 15px 40px;
        font-family: "Space Mono", monospace;
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: center;
        background: #fcb72b;

        margin-left: 88px;
        position: relative;
        top: -50px;
    }
       &__button:active {
           border: 3px solid #fcb72b;
           background-color: white;
           color: #fcb72b;
       }
}
@media only screen and (max-width:768px) {
     .hero {
         margin: 33px auto;
         background-image: url(../images/table.png);
         background-size: contain;
         background-repeat: no-repeat;
         width: 768px;
         height: 650px;

         &__title {
             height: 112px;
             width: 573px;
             text-align: center;
             padding-left: 87px;
             color: white;
             margin-left: -100px;
         }

         &__texts__img {
             display: flex;
             margin-top: 40px;

             &__text {
                 height: 75px;
                 width: 573px;
                 color: white;
               
                 padding-top: 100px;
                 text-align: center;
                 margin-left: -80px;
             }

             &__card__img {
                 margin-top: 69px;
                 display: none;
             }
         }

         &__texts__img img:nth-child(1) {
             margin-left: -165px;
             margin-top: 160px;
             display: none;
         }

         &__button {
             height: 53px;
             width: 180px;
             text-decoration: none;
             color: white;
             padding: 14px 39px;
             font-family: "Space Mono", monospace;
             font-size: 15px;
             font-weight: 700;
             line-height: 25px;
             letter-spacing: 0px;
             background: #fcb72b;
             margin-left: 138px;
             position: relative;
             top: 160px;
         }
            &__button:active {
                border: 3px solid #fcb72b;
                background-color: white;
                color: #fcb72b;
            }
     }
}
@media only screen and (max-width:576px){
.hero {
    margin: 33px auto;
    background-image: url(../images/Bitmap\(5\).png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 576px;
    height: 650px;

    &__title {
      
      width: 371px;
     font-family: Space Mono;
     font-size: 40px;
     font-weight: 700;
     line-height: 40px;
     letter-spacing: -1.7857142686843872px;
     text-align: center;
        color: white;
        margin-left: -39px;
        margin-top: -60px;
    }

    &__texts__img {
        display: flex;
        margin-top: 40px;

        &__text {
height: 125px;
width: 371px;
left: 32px;
top: 323px;
border-radius: nullpx;

            color: white;
            padding-left: 160px;
            padding-top: 100px;
            text-align: center;
        }

        &__card__img {
            margin-top: 69px;
            display: none;
        }
    }

    &__texts__img img:nth-child(1) {
        margin-left: -165px;
        margin-top: 160px;
        display: none;
    }

    &__button {
        height: 53px;
        width: 180px;
        text-decoration: none;
        color: white;
        padding: 14px 39px;
        font-family: "Space Mono", monospace;
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0px;
        background: #fcb72b;
        margin-left: 92px;
        position: relative;
        top: 230px;

    }
    &__button:active{
          border: 3px solid #fcb72b;
          background-color: white;
          color: #fcb72b;
    }
}
}