.zero {
    &__cards {
        display: flex;
        margin-top: 150px;
        flex-direction: column;

        &__card1 {
            &__title {
                height: 96px;
                width: 445px;
                font-family: Space Mono;
                font-size: 48px;
                font-weight: 700;
                line-height: 48px;
                letter-spacing: -2.142857074737549px;
                text-align: left;
            }

            &__text {
                height: 100px;
                width: 445px;
                left: 165px;
                top: 1583px;
                border-radius: nullpx;
                font-family: "Space Mono", monospace;
                font-size: 15px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0px;
                text-align: left;
                padding-top: 24px;
                padding-bottom: 190px;
            }

            &__link {
                height: 53px;
                width: 180px;
                background: #fcb72b;
                color: white;
                padding: 19px 50px;
                text-decoration: none;
                font-family: Space Mono;
            }
                    &__link:active {
                        border: 3px solid #fcb72b;
                        background-color: white;
                        color: #fcb72b;
                    }
        }

        &__card2 {
            display: flex;
            margin-left: 333px;
        }
    }
}
@media only screen and (max-width:768px){
    .zero {
        &__cards {
            display: flex;
            margin-top: 830px;
            flex-direction: column;

            &__card1 {
                &__title {
                    height: 96px;
                    width: 457px;
                    font-family: Space Mono;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 48px;
                    letter-spacing: -2.142857074737549px;
                    text-align: center;
                    margin-left: 100px;
                    margin-top: -70px;
                }

                &__text {
                    height: 75px;
                    width: 573px;
                    left: 97px;
                    top: 2120px;
                    border-radius: nullpx;

                    font-family: "Space Mono",
                        monospace;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 0px;
                    text-align: center;
                    padding-top: 24px;
                    padding-bottom: 190px;
                    margin-left: 40px;
                }

                &__link {
                    height: 53px;
                    width: 180px;
                    left: 0px;
                    top: 0px;
                    border-radius: 0px;
                    background: #fcb72b;
                    color: white;
                    padding: 19px 50px;
                    text-decoration: none;
                    font-family: Space Mono;
                    margin-left: 230px;
                }
                        &__link:active {
                            border: 3px solid #fcb72b;
                            background-color: white;
                            color: #fcb72b;
                        }
            }

            &__card2 {
                display: flex;
                margin-left: 120px;



                &__img {
                    width: 997px;
                    height: 428px;
                }

                transform: translateY(-900px);
                -webkit-transform: translateY(-900px);
                -moz-transform: translateY(-900px);
                -ms-transform: translateY(-900px);
                -o-transform: translateY(-900px);
            }
        }
    }
}
@media only screen and (max-width:576px) {
        .zero {
            &__cards {
                display: flex;
                margin-top: 150px;

                &__card1 {
                    &__title {
                      height: 64px;
                      width: 311px;

                      font-family: Space Mono;
                      font-size: 32px;
                      font-weight: 700;
                      line-height: 32px;
                      letter-spacing: -1.4285714626312256px;
                      text-align: center;
                      margin-left: 10px;
                    }

                    &__text {
                       height: 150px;
                       width: 311px;
                       left: 32px;
                       top: 2209px;
                       border-radius: nullpx;

                       font-family: "Space Mono",
                       monospace;

                       font-size: 15px;
                       font-weight: 400;
                       line-height: 25px;
                       letter-spacing: 0px;
                       text-align: center;
                       margin-left: 15px;
                    }

                    &__link {
                        height: 53px;
                        width: 180px;
                        left: 0px;
                        top: 0px;
                        border-radius: 0px;
                        background: #fcb72b;
                        color: white;
                        padding: 19px 50px;
                        text-decoration: none;
                        font-family: Space Mono;
                        margin-left: 70px;
                    }
                            &__link:active {
                                border: 3px solid #fcb72b;
                                background-color: white;
                                color: #fcb72b;
                            }
                }

                &__card2 {
                    display: flex;
                    margin-left: 333px;
                }
            }
        }
}